{% extends 'base.html.twig' %}

{% block footer %}

    <footer class="mastfoot mt-auto">
        <div class="inner">
            <p>
                ©
                <script>document.write(new Date().getFullYear())</script>, made with <span class="glyphicon glyphicon-heart"></span> by
                <a href="https://roonyx.tech/" target="_blank">Roonyx</a>.
            </p>
        </div>
    </footer>

{% endblock %}


