{% extends 'footer.html.twig' %}

{% block content %}

    <div class="masthead mb-auto">
        <div class="container inner">
            <h3 class="masthead-brand">CryptoCompose</h3>
            <nav>
                <ul class="nav masthead-nav">
                    <li><a href="{{ path('composepage') }}">Compose new</a></li>
                    <li class="active"><a href="#">About Us</a></li>
                </ul>
            </nav>
        </div>
    </div>

    <div class="inner cover">
        <h1 class="cover-heading">Create your own cryptocurrency rate chart and share it</h1>
        <p class="lead">as simple as it can be
        </p>

        <p class="lead">
            <a href="https://roonyx.tech" class="btn btn-lg btn-default">Learn more</a>
        </p>
        <p class="lead hidden">
            <div class="lead hidden" id="container">
            </div>
        </p>
    </div>

{% endblock %}



